.inline
{
    display: inline-block;
}
.block_inline
{
    width : 300px;
    display: inline-block;
    vertical-align: top;
}

#langues
{
    position: absolute;
    top: 0px;
    right: 0px;
}
#langues form
{
  display: inline-block;
}
