RewriteEngine on

# Removing of the index.php in URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?/$0 [PT,L]

# Redirect on the www.
# RewriteCond %{HTTP_HOST} !^www\.url_site\.com [NC]
# RewriteRule (.*) http://trans.tristanlaurent.com/$1 [QSA,R=301,L]
